<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="robots" content="noindex, nofollow" />

  <link rel="icon" type="image/svg+xml" href="https://codeforamerica.org/wp-content/themes/cfa-main/static/icon.svg">

  <title>{% if title %}{{ title }} | {% endif %}{{ package.nice }}</title>
  <meta name="title" content="{% if title %}{{ title }} | {% endif %}{{ package.nice }}" />
  {% if meta_description or story %}<meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ story }}{% endif %}" />{% endif %}

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ package.nice }}" />
  {% if meta_description or story %}<meta name="og:description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ story }}{% endif %}" />{% endif %}
  <meta property="og:image" content="{{ config.baseUrl }}{% if thumbnail %}{{ thumbnail }}{% else %}assets/site/thumbnail-site.png{% endif %}" />
  <meta property="og:image:alt" content="{% if thumbnail and thumbnail_description %}{{ thumbnail_description }}{% else %}The {{ package.nice }} logo lockup.{% endif %}">

  <link rel="stylesheet" href="{{ config.baseUrl }}{{ config.assets }}/site/site.css">

  {% block head %}{% endblock %}
</head>

<body>
  {% include '../_partials/header.twig' %}

  <div class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-layout-docs__sidenav desktop:grid-col-3">
          <nav aria-label="Secondary navigation">
            <ul class="usa-sidenav">
              {% if 'component' in tags %}
              {% set sidenav = {
                type: 'component',
                items: collections.componentByAlpha
              } %}
              {% endif %}

              {% if 'documentation' in tags %}
              {% set sidenav = {
                type: 'documentation',
                items: collections.documentationByAlpha
              } %}
              {% endif %}

              {% for item in sidenav.items %}
              <li class="usa-sidenav__item is-current">
                {% set url = item.url|split('/', 2) %}
                <a href="{{ config.baseUrl }}{{ url[0] ~ url[1] }}" {% if item.url == page.url %}class="usa-current" aria-current="page"{% endif %}>{{ item.data.title }}</a>

                {% if item.url == page.url %}
                <ul class="usa-sidenav__sublist">
                  {% if sublist %}
                  {% for item in sublist %}
                    <li class="usa-sidenav__item"><a href="#{{ item.anchor }}">{{ item.title }}</a></li>
                  {% endfor %}
                  {% else %}
                  <li class="usa-sidenav__item"><a href="#details">Details</a></li>

                  <li class="usa-sidenav__item"><a href="#examples">Examples</a></li>

                  <li class="usa-sidenav__item"><a href="#guidance">Guidance</a></li>

                  <li class="usa-sidenav__item"><a href="#accessibility">Accessibility</a></li>

                  <li class="usa-sidenav__item"><a href="#design-library-component">Design library component</a></li>

                  <li class="usa-sidenav__item"><a href="#source-and-usage">Source and usage</a></li>
                  {% endif %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>

        <main class="usa-layout-docs__main desktop:grid-col-9 usa-layout-docs" id="main-content">
          <div class="usa-prose">
            <h1>{{ title }}</h1>

            <blockquote class="usa-intro margin-start-0 padding-start-2 padding-y-1 border-0 border-solid border-base-lighter border-start-width-1">
              {{ story }}
            </blockquote>
          </div>

          {{ content|raw }}

          <hr class="margin-y-4 border border-base-lighter">

          <div class="usa-alert usa-alert--info" role="region" aria-labelledby="aria-lb-feedback">
            <div class="usa-alert__body">
              <div>
                <p><a href="https://form.asana.com/?k=wy7M0xSmDjkncafrF8-ikQ&d=8676559049854" target="_blank" rel="noopener nofollow" class="usa-link--external" id="aria-lb-feedback">Have a suggestion or need help?</a></p>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>

  {% include '../_partials/footer.twig' %}

  <script src="{{ config.baseUrl }}{{ config.assets }}/js/default.js"></script>

  {% block scripts %}{% endblock %}

  {% include '../../../dist/assets/site/svgs.svg' %}
</body>
</html>