{% extends '_layouts/default.twig' %}

{% set heading = 'Components' %}
{% set intro = 'This is a demonstration of the Code for America, U.S. Web Design System (USWDS) theme. Design tokens and styles from the Honeycrisp design system are applied to USWDS settings.' %}
{% set uswds = '../node_modules/@uswds/uswds/packages/' %}

{% set info = {
  tokens: 'Design tokens are passed to the settings configuration to modify the visual appearance of the component',
  styles: 'A custom stylesheet is used to modify the component\'s visual appearance',
  modifier: 'The class name that applies extended style customization to modify the component\'s visual appearance'
} %}

{% block content %}
  <h2 id="accordion-component">
    <a id="section_10" class="usa-anchor"></a> Accordion
  </h2>

  <ul class="usa-content-list">
    <li><strong>Extends:</strong> <a href="https://designsystem.digital.gov/components/accordion/" target="_blank" rel="noopener nofollow"><code>@USWDS</code> Accordion component</a></li>
    <li><strong>Honeycrisp:</strong> <a href="http://honeycrisp.herokuapp.com/cfa/styleguide#molecules-accordion" target="_blank" rel="noopener nofollow">Accordion molecule</a></li>
    <li><strong>Customization:</strong> <abbr title="{{ info.tokens }}">Tokens</abbr> and <abbr title="{{ info.styles }}">Styles</abbr></li>
    <li><strong><abbr title="{{ info.modifier }}">Modifier</abbr>:</strong> <code>.cfa-accordion</code></li>
  </ul>

  <figure class="border margin-0 padding-3 radius-lg">
    <figcaption>Accordion component example.</figcaption>

    {% include '../packages/cfa-accordion/cfa-accordion.twig' %}
  </figure>

  <h2 id="alert-component">
    <a id="section_11" class="usa-anchor"></a> Alert
  </h2>

  <ul class="usa-content-list">
    <li><strong>Extends:</strong> <a href="https://designsystem.digital.gov/components/alert/" target="_blank" rel="noopener nofollow"><code>@USWDS</code> Alert component</a></li>
    <li><strong>Honeycrisp:</strong> <a href="http://honeycrisp.herokuapp.com/cfa/styleguide#atoms-notices" target="_blank" rel="noopener nofollow">Notice atom</a></li>
    <li><strong>Customization:</strong> <abbr title="{{ info.tokens }}">Tokens</abbr> and <abbr title="{{ info.styles }}">Styles</abbr></li>
    <li><strong><abbr title="{{ info.modifier }}">Modifier</abbr>:</strong> <code>.cfa-alert</code></li>
  </ul>

  <figure class="border margin-0 padding-3 radius-lg">
    <figcaption>Alert component example.</figcaption>

    {% include uswds ~ 'usa-alert/src/usa-alert.twig' with {modifier: 'cfa-alert usa-alert--info', role: false, title: 'Informative notice', text: 'This is an example notice. It\'s a great way to provide additional information on a certain issue.'} only %}

    {% include uswds ~ 'usa-alert/src/usa-alert.twig' with {modifier: 'cfa-alert usa-alert--warning', role: false, title: 'Warning notice', text: 'This is an example warning notice. It\'s a great way to highlight <strong>potential issues</strong>.'} only %}

    {% include uswds ~ 'usa-alert/src/usa-alert.twig' with {modifier: 'cfa-alert usa-alert--error', role: 'alert', title: 'Error notice', text: 'This is an example warning notice. It\'s a great way to highlight <strong>errors or dangerous issues</strong>.'} only %}

    {% include uswds ~ 'usa-alert/src/usa-alert.twig' with {modifier: 'cfa-alert usa-alert--success', role: false, title: 'Success notice', text: 'This is an example success notice. It\'s a great way to highlight <b>confirmations or successful actions</b>.'} only %}
  </figure>

  <h2 id="button-component">
    <a id="section_20" class="usa-anchor"></a> Button
  </h2>

  <ul class="usa-content-list">
    <li><strong>Extends:</strong> <a href="https://designsystem.digital.gov/components/button/" target="_blank" rel="noopener nofollow"><code>@USWDS</code> Button component</a></li>
    <li><strong>Honeycrisp:</strong> <a href="http://honeycrisp.herokuapp.com/cfa/styleguide#atoms-buttons" target="_blank" rel="noopener nofollow">Button atom</a></li>
    <li><strong>Customization:</strong> <abbr title="{{ info.tokens }}">Tokens</abbr> and <abbr title="{{ info.styles }}">Styles</abbr></li>
  </ul>

  <figure class="border margin-0 padding-3 radius-lg">
    <figcaption>Button component example.</figcaption>

    <h3 class="site-preview-heading">Primary</h3>
    {% include uswds ~ 'usa-button/src/usa-button.twig' with {is_demo: true} only %}

    <h3 class="site-preview-heading">Outline</h3>
    {% include uswds ~ 'usa-button/src/usa-button.twig' with {is_demo: true, modifier: 'usa-button--outline'} only %}

    <h3 class="site-preview-heading">Big</h3>
    {% include uswds ~ 'usa-button/src/usa-button.twig' with {is_demo: true, modifier: 'usa-button--big', text: 'Big Button'} only %}

    <h3 class="site-preview-heading">Big Outline</h3>
    {% include uswds ~ 'usa-button/src/usa-button.twig' with {is_demo: true, modifier: 'usa-button--big usa-button--outline', text: 'Big Button'} only %}
  </figure>

  <h2 id="theme-color-tokens">
    <a id="section_21" class="usa-anchor"></a> Color
  </h2>

  <ul class="usa-content-list">
    <li><strong>Extends:</strong> <a href="https://designsystem.digital.gov/design-tokens/color/theme-tokens/" target="_blank" rel="noopener nofollow"><code>@USWDS</code> Theme color tokens</a></li>
    <li><strong>Honeycrisp:</strong> <a href="http://honeycrisp.herokuapp.com/cfa/styleguide#atoms-colors" target="_blank" rel="noopener nofollow">Color atom</a></li>
    <li><strong>Customization:</strong> <abbr title="{{ info.tokens }}">Tokens</abbr></li>
  </ul>

  <figure class="border margin-0 padding-3 radius-lg">
    <figcaption>Theme color token table illustrating the customized theme colors.</figcaption>

    {% include '../packages/cfa-color/cfa-color-token-table.twig' %}
  </figure>

  <h2 id="text-input-component">
    <a id="section_29" class="usa-anchor"></a> Text Input
  </h2>

  <ul class="usa-content-list">
    <li><strong>Extends:</strong> <a href="https://designsystem.digital.gov/components/text-input/" target="_blank" rel="noopener nofollow"><code>@USWDS</code> Text input component</a></li>
    <li><strong>Honeycrisp:</strong> <a href="http://honeycrisp.herokuapp.com/cfa/styleguide#atoms-form_elements" target="_blank" rel="noopener nofollow">Form element, text input field atom</a></li>
    <li><strong>Customization:</strong> <abbr title="{{ info.styles }}">Styles</abbr></li>
    <li><strong><abbr title="{{ info.modifier }}">Modifier</abbr>:</strong> <code>.cfa-input</code></li>
  </ul>

  <figure class="border margin-0 padding-3 radius-lg">
    <figcaption>Text input component example.</figcaption>

    {% include '../packages/cfa-input/cfa-input.twig' with {modifier: 'cfa-input'} only %}
  </figure>

  <h2 id="typesetting-component">
    <a id="section_30" class="usa-anchor"></a> Typesetting
  </h2>

  <ul class="usa-content-list">
    <li><strong>Extends:</strong> <a href="https://designsystem.digital.gov/design-tokens/typesetting/overview/" target="_blank" rel="noopener nofollow"><code>@USWDS</code> Theme typesetting tokens</a></li>
    <li><strong>Honeycrisp:</strong> <a href="http://honeycrisp.herokuapp.com/cfa/styleguide#atoms-typography" target="_blank" rel="noopener nofollow">Typography atom</a></li>
    <li><strong>Customization:</strong> <abbr title="{{ info.tokens }}">Tokens</abbr> and <abbr title="{{ info.styles }}">Styles</abbr></li>
  </ul>

  <figure class="border margin-0 margin-bottom-4 padding-3 radius-lg">
    <figcaption>Theme typesetting token table illustrating the customized font sizes.</figcaption>

    {% include '../packages/cfa-typesetting/cfa-typesetting-token-table.twig' %}
  </figure>

  <figure class="border margin-0 padding-3 radius-lg">
    <figcaption>Theme typesetting example.</figcaption>

    {% include '../packages/cfa-typesetting/cfa-typesetting-sample.twig' %}
  </figure>

{% endblock %}